.section{
  display: flex;
  flex-direction: column;
}
.article {
  width: 95%;
  min-width: 320px;
  max-width: 1024px;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}
.article-pic{
  width: 40%;
  float: left;
}
.article-title {
  background-color: #333;
  color: yellow;
  font-size: 2rem;
}
.article-content {
  font-size: 1.2rem;
  line-height: 1.6em;
  text-indent: 2em;
  text-align: justify;
}

@media screen and (min-width: 920px) {
  .section{
    flex-flow: row wrap;
  }
  .article {
    width: 45%;
  }
  .article-pic{
    width: 100%;
    float: none;
  }
}

@media screen and (min-width: 1024px) {
  .article {
    width: 30%;
  }
}


@media print{
  .article-title {
    background-color: #fff;
    color: #000;
    font-size: 1rem;
  }
  .article-pic{
    display: none;
  }
  .article-content {
    font-size: 0.8rem;
  }
}
